exportPattern("^[^\\.]")
importFrom(graphics,legend)
importFrom(graphics,plot)
importFrom(graphics,lines)
importFrom(graphics,title)
importFrom(stats,dnorm)
importFrom(stats,pnorm)
importFrom(stats,qnorm)
importFrom(stats,pexp)
importFrom(stats,predict)
importFrom(stats,smooth.spline)
importFrom(stats,optim)
import(rootSolve)
